<mat-card class="login-page">

    <mat-card-title>
        Login
    </mat-card-title>

    <mat-card-content>

        <form class="login-form data-form" #loginForm="ngForm" (ngSubmit)="login(loginForm, $event)">

            <!-- Email -->
            <mat-form-field>
                <input
                    matInput
                    type="email"
                    name="email"
                    placeholder="Email"
                    [ngModel]="val.email"
                    #email="ngModel"
                    required
                    minlength="3"
                    email
                >

                <!-- Error: Required -->
                <mat-error *ngIf="email.errors?.required">
                    Email is mandatory
                </mat-error>

                <!-- Error: Min Length -->
                <mat-error *ngIf="email.errors?.minlength">
                    Your email must have minimum {{ email.errors?.minlength.requiredLength }} chars,
                    but it only has {{ email.errors?.minlength.actualLength }}
                </mat-error>

                <!-- Error: Email -->
                <mat-error *ngIf="email.errors?.email">
                    Invalid email
                </mat-error>

            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <input
                    matInput
                    type="password"
                    name="password"
                    placeholder="Password"
                    [ngModel]="val.password"
                    #password="ngModel"
                    required
                    minlength="8"
                    passwordStrength
                >

                <!-- Error: Required -->
                <mat-error *ngIf="password.errors?.required">
                    Password is mandatory
                </mat-error>

            </mat-form-field>

            <ng-container *ngIf="password.errors | onlyOneError:['minlength', 'passwordStrength'] as error">

                <!-- Error: Min Length -->
                <div class="field-message" *ngIf="error.minlength">
                    Your password must have minimum {{error.minlength.requiredLength}} chars,
                    but it only has {{error.minlength.actualLength}}.
                </div>

                <!-- Error: Password Strength -->
                <div class="field-message" *ngIf="error.passwordStrength">
                    Your password must have lower case, upper case and numeric characters.
                </div>

            </ng-container>

            <!-- Login Button -->
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
                Login
            </button>

        </form>

        <div class="form-val">
            <p>Form: {{ loginForm.value | json }}</p>
            <p>Form Valid: {{ loginForm.valid }}</p>
            <p>Email Valid: {{ email.valid }}</p>
            <p>Password Valid: {{ password.valid }}</p>
            <p>Email: {{ email.value }}</p>
            <p>Password: {{ password.value }}</p>
        </div>

    </mat-card-content>
</mat-card>
